<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agentes do Valorant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-button expand="full" (click)="buscarAgentes()">
    Buscar Agentes
  </ion-button>

  <div *ngIf="agentes.length > 0">
    <h2>Agentes:</h2>
    <ion-list>
      <ion-item *ngFor="let agente of agentes">
        <ion-label>
          <h2>{{ agente.displayName }}</h2>
          <p>{{ agente.description }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>