<ion-header>
  <ion-toolbar color="">
    <ion-title>LETROSO</ion-title>
    <a href="/page2" class="rota">Page2</a>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="letroso-bg ion-padding">
  <div class="game-container">
    <!-- Letras -->
    <div class="word-display">
      <div
        class="letter-box"
        *ngFor="let letter of letters; let i = index"
        [ngStyle]="{'background-color': resultado[i] || '#142d74'}"
      >
        {{ letter }}
      </div>
    </div>

    <!-- Mensagens -->
    <p *ngIf="vitoria" class="mensagem-vitoria">🎉 você acertou! </p>
    <p *ngIf="derrota" class="mensagem-derrota">❌ tente novamente!</p>

    <p class="hint-text">Digite o nome do agente Valorant...</p>
  </div>
</ion-content>