<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Receitas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-input
    placeholder="Digite o termo de busca"
    [(ngModel)]="termoBusca">
  </ion-input>

  <ion-button expand="full" (click)="buscarReceitas()">
    Buscar Receitas
  </ion-button>

  <div *ngIf="receitas.length > 0">
    <h2>Resultados:</h2>
    <ul>
      <li *ngFor="let receita of receitas">
  <strong>{{ receita.title || receita.name }}</strong>
  <p>Ingredientes: {{ receita.ingredients }}</p>
</li>

    </ul>
  </div>

</ion-content>
