ion-toolbar {
  display: none;
  color: red;
}

.letroso-bg {
  --background: none;
  background-image: url('/assets/imgs/Omen.jpg');
  background-size: cover;         
  background-position: center;   
  background-repeat: no-repeat;   
  background-attachment: fixed;   

 
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.word-display {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.letter-box {
  width: 50px;
  height: 60px;
  border-radius: 8px;
  background-color: #142d74;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.mensagem-vitoria {
  color: #778ae7;
  font-weight: bold;
}

.mensagem-derrota {
  color: #5464ac;
  font-weight: bold;
}

.hint-text {
  color: #a4abbe;
  margin-top: 10px;
  text-align: center;
}
