
<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Valoroso Historico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content">
  <div class="game-wrap">

    <div class="info">
      <div>Palavra do dia • Valorant Edition</div>
      <div class="meta">Tentativas: ** • Tamanho:** {{ wordLength }} letras</div>
    </div>

    <!-- Grid adaptável: linhas = 6, colunas = wordLength -->
    <div class="grid" [style.gridTemplateColumns]="'repeat(' + wordLength + ', 1fr)'">
      <ng-container *ngFor="let r of rows; let ri = index">
        <ng-container *ngFor="let c of cols; let ci = index">
          <div class="tile"
               [ngClass]="getTileClass(ri, ci)">
            {{ getLetter(ri, ci) }}
          </div>
        </ng-container>
      </ng-container>
    </div>

    <!-- Mensagens -->
    <div class="message" *ngIf="message">{{ message }}</div>

    <!-- Controles -->
    <div class="controls">
      <ion-button expand="block" (click)="restart()">Jogo livre</ion-button>
      <ion-button (click)="toggleTheme()">Alternar Tema</ion-button>
    </div>

    <!-- Teclado na tela -->
    <div class="keyboard">
      <div class="row" *ngFor="let line of keyboardRows">
        <button class="kbtn" *ngFor="let k of line"
                [ngClass]="keyClass(k)"
                (click)="onKey(k)">
          {{ k }}
        </button>
      </div>
      <div class="row">
        <button class="kbtn action" (click)="onBackspace()">Apagar Historico</button>
      </div>
    </div>

  </div>
</ion-content>
