<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Valoroso Historico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content">
  <div class="game-wrap">

    <div class="info">
      <div>Palavra do dia • Valorant Edition</div>
      <div class="meta">Tentativas: ** • Tamanho:** {{ wordLength }} letras</div>
    </div>
<div class="history-grid">
 
  <div class="history-item" 
       *ngFor="let item of history" 
       (click)="openHistoryItem(item)">

    <div class="h-word">{{ item.word }}</div>
    <div class="h-info">{{ item.attempts }} tentativas</div>
    <div class="h-size">{{ item.word.length }} letras</div>
  </div>
</div>
  
<div class="history-modal" *ngIf="selectedItem">
  <div class="history-box">
    <h2>Detalhes da Partida</h2>

    <p><strong>Palavra:</strong> {{ selectedItem.word }}</p>
    <p><strong>Tentativas:</strong> {{ selectedItem.attempts }}</p>

    <h3>Palavras tentadas:</h3>

    <div class="attempt-list">
      <div class="attempt" *ngFor="let attempt of selectedItem.triedWords">
        {{ attempt }}
      </div>
    </div>

    <button class="close-btn" (click)="selectedItem = null">Fechar</button>

    <div class="grid" [style.gridTemplateColumns]="'repeat(' + wordLength + ', 1fr)'">
      <ng-container *ngFor="let r of rows; let ri = index">
        <ng-container *ngFor="let c of cols; let ci = index">
          <div class="tile"
               [ngClass]="getTileClass(ri, ci)">
            {{ getLetter(ri, ci) }}
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="message" *ngIf="message">{{ message }}</div>
    <div class="controls">
    </div>

    <div class="keyboard">
      <div class="row" *ngFor="let line of keyboardRows">
        <button class="kbtn" *ngFor="let k of line"
                [ngClass]="keyClass(k)"
                (click)="onKey(k)">
          {{ k }}
        </button>
      </div>
      <div class="row">
        <button class="kbtn action" (click)="onBackspace()">Apagar Historico</button>
      </div>
    </div>

  </div>
</ion-content>