<ion-header>
  <ion-toolbar>
    <ion-title class="titulo-header">Histórico • Valoroso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content">

  <ion-button class="btn-voltar" (click)="voltar()">
    Voltar
  </ion-button>

  <div class="game-wrap">

    <div class="info">
      <div class="game-title">{{'dgg valoroso' | uppercase}}</div>
    </div>

    <div class="history-grid">
      @for (item of history; track $index) {
        <div class="history-item" (click)="openHistoryItem(item)">
          <div class="h-word">{{ item.word }}</div>
          <div class="h-info">{{ item.attempts }} tentativas</div>
          <div class="h-size">{{ item.word.length }} letras</div>
        </div>
      } @empty {
        <p class="empty">Nenhum histórico encontrado.</p>
      }
    </div>

    @if (selectedItem) {

      <div class="history-modal">

        <div class="history-box">

          <h2 class="modal-title">Detalhes da Partida</h2>

          <p><strong>Palavra:</strong> {{ selectedItem.word }}</p>
          <p><strong>Tentativas:</strong> {{ selectedItem.attempts }}</p>

          <h3>Palavras tentadas:</h3>

          <div class="attempt-list">
            @for (attempt of selectedItem.triedWords; track $index) {
              <div class="attempt">{{ attempt }}</div>
            }
          </div>

          <button class="close-btn" (click)="selectedItem = null">Fechar</button>

          <div class="grid" 
               [style.gridTemplateColumns]="'repeat(' + wordLength + ', 1fr)'">

            @for (r of rows; track ri; let ri = $index) {
              @for (c of cols; track ci; let ci = $index) {
                <div class="tile" [ngClass]="getTileClass(ri, ci)">
                  {{ getLetter(ri, ci) }}
                </div>
              }
            }

          </div>

          <div class="row">
            <button class="kbtn action" (click)="onBackspace()">
              Apagar Histórico
            </button>
          </div>

        </div>

      </div>

    }

  </div>

</ion-content>
